body{
	font-family: Arial, sans-serif;
    background-image:url('login.jpg'); 
    background-size: cover;
	
}
.login-container{
	width:400px;
	padding:20px;
	margin:0px auto;
	border:3px solid grey;
	border-radius:10px;
    background:white;
	box-shadow:0 0 10px;
	
}
.login-container h2{
	text-align:center;
	font-size:38px;
	color:blue;
	margin:0px auto;
}	
.login-container h3{
	text-align:center;
	font-size:30px;
	color:red;

}	
label{
	display:block;
	margin-bottom:10px;
	font-weight:bold;
	text-align:center;
}
.login-container input[type="email"],.login-container input[type="password"]{
	width:100%;
	height:40px;
	margin-bottom:20px;
	padding:10px;
	background-color:none;
	border:1px solid #ccc;
	border-color:grey;
	border-radius:10px;
}
.login-container input[placeholder="user@example.com"],.login-container input[placeholder="please enter Password"]{
text-align:center;
font-size:17px;
}
.required::after{
	content:"*";
	color:red;
	font-weight:bold;
	font-size:22px;
}
.login-container input[type="submit"]{
	display:block;
	margin:0 auto;
	width:40%;
    height:40px;
	padding:5px 10px;
	background-color:blue;
	border-radius:10px;
	border-color:blue;
	cursor:pointer;
	font-size:22px;
	font-weight:bold;
	color:white;
	
}
.login-container input[type="submit"]:hover{
	background-color:red;
	color:white;
	
}
p{
	text-align:center;
}
a:hover{
	color:red;
}