body{
	align-content:center-left;
	font-family: Arial, sans-serif;
    background-image:url('reset.jpg'); 
    background-size: cover;
}
.reset-container{
	width:400px;
	margin:40px;
	margin-left:90px;
	padding:10px;
	background-color:white;
	border:3px solid purple;
	border-radius:10px;	
	box-shadow: 0 0 10px;
}
h2{
	text-align:center;
	margin:0px auto;
	color:purple;
	font-family:Arial,sans-serif;
	padding:10px;
	padding-top:0px;
	font-size:35;
	font-weight:bold;
}
label{
	display:block;
	font-weight:bold;
	text-align:center;
	padding:10px;
	margin-bottom:10px;
}
.required::after{
	content:"*";
	color:red;
	font-weight:bold;
	font-size:22px;
}
.reset-container input[type="email"],.reset-container input[type="password"]{
	width:100%;
	height:40px;
	padding:10px;
	background-color:none;
	border:1px solid #ccc;
	border-color:purple;
	border-radius:10px;
}
.reset-container input[placeholder="user@example.com"],.reset-container input[placeholder="Please enter Password"],
.reset-container input[placeholder="Please Confirm Password"]{
text-align:center;
font-size:17px;
}
.reset-container input[type="submit"]{
	display:block;
	margin:0 auto;
	width:50%;
    height:40px;
	padding:0px 20px;
	background-color:white;
	border-radius:10px;
	border-color:purple;
	cursor:pointer;
	font-size:20px;
	font-weight:bold;
}
.reset-container input[type="submit"]:hover{
	background-color:red;
	color:white;
}
p{
	text-align:center;
}
a:hover{
	color:red;
}